.create-post{
	text-align: center;
	display: flex;
    justify-content: center;
}
.cr-post{
	border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}
.pad-cr-post{
	padding: 12px 16px 10px 16px;
}
.cr-post-flex{
	display: flex;
	flex-direction: column;
}
.search-user{
	display: flex;
}
.a-cr-post{
	display: block;
	width: inherit;
	height: inherit;
}
.user-cr-pic{
	box-sizing: border-box;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 8px;
}
.img-cr-post{
	width: 40px;
	height: 40px;
}
.search-blk-post{
	cursor: pointer;
    box-sizing: content-box;
    width: 396px;
    padding: 0px 12px;
    line-height: 40px;
    background: rgb(240, 242, 245);
    text-align: left;
    border-radius: 20px;
    color: rgb(101, 103, 107);
    font-size: 17px;
}
.media-cr-post{
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #CED0D4;
	padding-top: 8px;
	margin-top: 12px;
}
.logo-cr-p{
	padding: 8px;
	display: flex;
	cursor: pointer;
	border-radius: 8px;
	
}
.w{
	width: 154px;
    display: flex;
    justify-content: center;
}
.logo-cr{
	margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url('/Images/FB-Small-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-x: 0px;
}
.logo-cr-name{
	font-size: 15px;
    font-weight: 600;
    color: rgb(101, 103, 107);	
    line-height: 25px;
}
.vedio{
	background-position-y: -80px;
}
.photo1{
	background-position-y: -201px;
}
.feeling{
	background-position-y: -128px;
}
.logo-cr-p:hover{
	background-color:#F2F2F2
}
.post-create-div{
	position: absolute;
    left: 417px;
    top: 1px;
    z-index: 3;
    top: 15px;
}
.post-cr-block{
    display: flex;
    justify-content: center;
}
.pos-post-cr{
	position: relative;
}
.post-cr-main-blk{
	border: 1px solid #fff;
	border-radius:8px;
	width: 500px;
	background: #fff;
    box-shadow: 0px 1px 19px rgba(0,0,0,0.4), 1px 0px 19px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}
.head-post-cr{
	display: flex;
	justify-content: center;
	padding: 10px 14px 13px 14px;
	border-bottom: 1px solid #E5E5E5;
}
.head-post-name{
	display: flex;
    flex: 2;
    justify-content: center;
}
.h2-post-cr{
	color:rgb(5,5,5);
	font-size: 20px;
	font-weight: 700;
	margin:0;
	line-height: 36px;
}
.head-post-cross-cr{
	text-decoration: none;
    width: 36px;
    height: 36px;
    background-color: rgb(228,230,235);
    background-image: url(/Images/Account/FB-cross1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-radius: 50%;
    cursor: pointer;
}
.user-and-privacy{
	padding: 0px 16px;
}
.u-post-cr-in{
	padding: 16px 0px 12px 0px;
	display: flex;
	justify-content: flex-start;
}
.img-u-post{
	margin-right: 11px;
}
.a-cr-post{
	border-radius: 50%;
    height: 40px;
    display: block;
    width: 40px;
}
.u-post-cr{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.name-post-cr{
	color: rgb(5,5,5);
	font-weight: 600;
	font-size: 15px;
	line-height: 12px;
}
.privacy-post-cr{
	display: flex;
	justify-content: space-between;
	padding: 4px 8px;
	border-radius: 6px;
	background: rgb(228,230,235);
	cursor: pointer;
	font-size: 13px;
	font-weight:600; 
	margin-top: 8PX;
}
.pri-post-img{
	margin-right: 4px;
	width: 12px;
	height: 12px;
	margin-top: 2px;
}
.sp-pri-post{
	display: inline-block;
	line-height: 16px;
	margin-right: 4px;
}
.post-cr-ar{
	background-image: url("/Images/FB-Icons.png");
	display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-position-y: -968px;
    background-position-x: -17px;
    margin-top: 1px;
}
.t-comp-post-cr{
	width: 100%;
	height: 300px;
	
	position: relative;
}
.t-comp-post-cr::-webkit-scrollbar{
	width: 8px;
}
.t-comp-post-cr::-webkit-scrollbar-track{
	background-color: transparent;
	border-radius: 10px;
}
.t-comp-post-cr::-webkit-scrollbar-thumb{
	background-color:rgb(206, 208, 212);
	border-radius: 10px;
}
.t-p-cr-ty{
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.text-post-cr-type{
	padding: 10px 16px 0px;
	width: 100%;
	height: 200px;
	border:none;
	outline: none;
	resize: none;
	overflow-y: hidden;
	white-space: pre-wrap;
	font-size: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    background:transparent;
}
textarea::placeholder{
	padding: 0px 0px;
	font-size:30px;
	font-weight: 700;
}
.bg-styleing{
	display: flex;
	padding: 1px 0px;
	justify-content: space-between;
	position: absolute;
    width: 100%;
    bottom: -4px;

}
.bg-img-set{
	padding: 0px 12px 12px 16px;
	cursor: pointer;
	display: flex;
}
.aa-default-bg{
	border-radius: 8px;
	width: 38px;
	height: 38px;
}
.aa-img{
	border-radius: 8px;
	width: 38px;
	height: 38px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bgsty{
	background-color: rgb(228,230,235);
	border-radius: 8px;
	width: 32px;
	height: 32px;
	padding-top: 8px;
	margin: auto;
	margin-top: 3px;

}
.left-arrow{
	display: block;
	background-size: auto;
	background-position: -17px -327px;
	width:16px;
	height: 16px;
	margin: auto;
}
.smile-feel{
	width: 36px;
	height: 36px;
	cursor: pointer;
	padding-top: 8px;
	position: relative;
}
.smile{
	width: 24px;
	height: 24px;
	background-image: url("/Images/Post-img/FB-Post-left.png");
	background-size: auto;
	background-position: 0px -172px;
	margin:auto;
	position: relative;
}
.bg-style-post{
	height: 36px;
    width: 40px;
    border-radius: 8px;
    padding-top: 3px;
}
.img-p-sty{
	width: 32px;
    height: 32px;
    margin: auto;
    display: block;
    border-radius: 8px;
}
.r{
    outline-color: #fff;
}
.overFlow{
	overflow-y: scroll;
	
}
.height{
	height: 300px;
}
.bottom{
	bottom: -86px;
}
.sq-4{
	background-image: url("/Images/Post-img/FB-Post-4D.png");
	width: 16px;
	height: 16px;
	margin: 0 auto;
	margin-top: 7px;
	background-position: 0px -414px;
	background-repeat: no-repeat;
}
.s1-4d-parent{
	width: 32px;
    height: 32px;
    border-radius: 8px;
    padding-top: 1px;
    background: #E4E6EB;
    margin-top: 3px;
    margin-left: 3px;
}
.post-emoji-top{
	width: 320px;
	height: 313px;
	background-color: rgb(255,255,255);
	border-radius: 8px;
	box-shadow: 0px 12px 28px 0px rgba(0,0,0,0.2);
	position:absolute;
	top: -335px;
	right: -141px;
}
.int-mark{
	display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background: #fff;
    left: 160px;
    top: 307px;
    transform: rotate(45deg);
    z-index: 0;
}
.sm-p-post{
	margin: 0px 8px 4px 8px;
	font-weight: 400;
	font-size: 13px;
	color: rgb(141,148,158);
	line-height: 17px;
	text-align: left;
	padding-top: 10px;
}
.po-emo-box{
	width: 36px;
	height: 36px;
	margin: 2px;
	text-align: center;
	cursor: pointer;
}
.po-emo-img{
	width: 28px;
	height: 28px;
	margin: 4px;
}
.emoji-box{
	display: flex;
    flex-wrap: wrap;
}
[contenteditable=true]:empty:before{
	content:attr(placeholder);
	pointer-events: none;
}
.text-post-cr-type[placeholder]:before{
	opacity: 0.6;
}
.post-details{
	padding: 16px 0px;
}
.add-to-post{
	margin: 0px 16px;
	padding: 8px;
	border-radius: 8px;
	border:1px solid #CED0D4;
	display: flex;
	justify-content: space-between;
}
.add{
	padding: 0px 8px;
	font-size: 15px;
	font-weight: 600;
	color: rgb(5,5,5);
	line-height: 40px;
	cursor: pointer;
}
.post-icon-add{
	display: flex;
}
.icon-add{
	width: 36px;
	height: 36px;
	margin: 2px;
	cursor: pointer;
}
.icon-add:hover{
	border-radius:50%;
	background-color: #f2f2f2;
}
.i-post-add{
	width: 24px;
	height: 24px;
	background-image: url("/Images/Post-img/FB-Post-4D.png");
	background-repeat: no-repeat;
	display: block;
	margin: 5px auto;
}
.v{
	background-size: auto;
	background-position: 0px -57px;
}
.p{
	background-size: auto;
	background-position: 0px -207px;
}
.tag{
	background-size: auto;
	background-position: 0px -158px;
}
.lo{
	background-size: auto;
	background-position: -25px -305px;
}
.location{
	background-image: url("/Images/Post-img/FB-Pg.png");
}
.sm{
	background-size: auto;
	background-position: 0px -133px;
}
.dots3{
	background-image: url("/Images/Post-img/FB-cross.png");
}
.dots{
	background-size: auto;
	background-position: 0px -74px;
}
.post-button{
	text-align: center;
	color: #fff;
	background-color: rgb(24,119,242);
	border-radius: 6px;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 12px;
	cursor:pointer;
}